.header-section-number {
    display: none
}

h1 strong:before {
    content: "Chapter "
}

h1, h2 {
    display: flex
}

h1, h2, h3, h4 {
    font-weight: normal
}

h1 strong, h2 strong {
    padding-right: .5em;
    flex-grow: 0;
    flex-shrink: 0
}

div.flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: .85em;
    margin-bottom: .85em
}

div.flex-text {
    flex-basis: 50%;
    flex-grow: 1;
    padding-right: .85em
}

div.flex-img {
    flex-grow: 0;
    flex-shrink: 0
}

div.flex-img img, div.flex-img p{
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

div.figure {
    display: flex;
    flex-direction: column
}

p.caption {
    display: none;
    order: 1
}

div.figure img {
    align-self: center;
    margin-bottom: .85em
}

li > p {
    margin-bottom: 0 !important
}

li > p img, li > div.figure img {
    margin-top: .85em !important;
    margin-bottom: .85em !important
}

a.footref {
    cursor: pointer
}

span.footbody {
    border: 1px solid;
    margin: 1em;
    padding: .5em;
    text-align: center;
    display: none
}

summary {
    cursor: pointer;
    outline: none
}

summary h2, summary h4 {
    display: inline-block
}

details > ol > li {
    margin-bottom: .85em
}

blockquote.spoiler > * {
    margin-bottom: 0 !important;
    opacity: 0;
    transition: opacity .25s ease-in-out
}

blockquote.spoiler:hover > * {
    opacity: 1
}

.test > h2 {
    display: none
}

span.choice {
    cursor: pointer
}

span.check {
    padding-left: .5em;
    display: none
}
