.header-section-number {
    display: none
}

h1 strong:before {
    content: "Chapter "
}

h1, h2 {
    display: flex
}

h1, h2, h3, h4 {
    font-weight: normal
}

h1 strong, h2 strong {
    padding-right: .5em;
    flex-grow: 0;
    flex-shrink: 0
}

div.flex {
    display: flex;
    flex-wrap: wrap
}

div.flex-text {
    flex-basis: 75%;
    flex-grow: 1;
    padding-right: .85em
}

div.flex-img {
    flex-grow: 0;
    flex-shrink: 0
}

div.figure {
    display: flex;
    flex-direction: column
}

p.caption {
    display: none;
    order: 1
}

div.figure img {
    align-self: center;
    margin-bottom: .85em
}

li p {
    margin-bottom: 0em !important
}

li img {
    margin-top: .85em !important;
    margin-bottom: .85em !important
}
