.header-section-number {
    display: none
}

h1 strong:before {
    content: "Chapter "
}

h1, h2, h3, h4 {
    font-weight: normal
}

h1 strong, h2 strong {
    padding-right: .5em
}

div.flex {
    display: flex
}

div.flex-text {
    padding-right: .8em
}

div.flex-img {
    flex-grow: 0;
    flex-shrink: 0
}
